.todo-container{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}
.heading-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.card-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-body{
    border: 1px solid red;
    border-radius: 5px;
    height: 250px;
    width: 30%;
    box-shadow: 14px 14px 20px -2px lightgrey;
    text-align: center;
}
.add-list{
    display: flex;
    flex-direction: row;
}
.heading1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 300;
}
.heading2{
    background-color:red;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    color: whitesmoke;
    margin-right: 10px;
    align-self: center;
}
.heading3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;   
    align-self: flex-end; 
    font-weight: 300;
    padding: 5 px;
}
.heading4{
    margin-left: 35px;
}

.col_heading1{
    color: red;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.task-status{
    color: red;
    font-size: 20px;
    text-decoration-line: line-through;
    font-weight: 400;
    text-align: center;
}
.lower-content{
    display: flex;
    padding-left: 15px;
}
.box{
    border:0.5px solid black;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    
}
.task-status1{
    font-size: 15px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:normal;
}
.icon-nextpage{
        height: 40px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        position: absolute;
        bottom: 12%;
        right: 30%;
        background-color: orange;
        border-radius: 50%;
        color: white;
        font-size: 35px;
}

@media screen and (min-width:320px) and (max-width:480px){
    .todo-container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .heading-container{
        display: flex;
        width: 80%;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .line{
        display: none;
    }
    .card-container{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .card-body{
        border: 1px solid rgba(255, 0, 0, 0.295);
        border-radius: 5px;
        height: 50px;
        width: 270px;
        box-shadow: 14px 14px 20px -2px lightgrey;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .add-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .heading1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 35px;
    }
    .heading2{
        position: absolute;
        background-color:red;
        width: 30px;
        height: 30px;
        right: 12%;
        font-weight: bold;
        background-color:red;
        font-size: 30px;
        justify-self: flex-end;
        border-radius: 50%;
        color: whitesmoke;
    }
    .heading3{
        display: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;   
        align-self: flex-end; 
        font-weight: 300;
        padding: 5px;
    }
    /* .heading4{
        margin-left: 35px;
    } */
    
    .col_heading1{
        color: grey;
        text-align: left;
        font-size: 20px;
        font-weight: 400;
    }
    .task-status{
        display: none;
        color: red;
        font-size: 20px;
        text-decoration-line: line-through;
        font-weight: 400;
        text-align: center;
    }
    .lower-content{
        display: flex;
        padding-left: 15px;
    }
    .box{
        display: none;
        border:0.5px solid black;
        border-radius: 2px;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        
    }
    .task-status1{
        display: none;
        font-size: 15px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight:normal;
    }
    .icon-nextpage{
        height: 40px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        position: absolute;
        bottom: 7%;
        right: 10%;
        background-color: orange;
        border-radius: 50%;
        color: white;
        font-size: 35px;
}
}